.git
.gitignore
.gitattributes
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.example
.DS_Store
Thumbs.db
*.log
*.md
tests
phpunit.xml
